[gerrit]
	basePath = git
	canonicalWebUrl = https://review.go-zh.org
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = HTTP
	httpHeader = GITHUB_USER
	logoutUrl = /oauth/reset
[sendemail]
	smtpServer = smtp.gmail.com
	smtpEncryption = TLS
	smtpUser = go.zh.bot@gmail.com
	includeDiff = true
	maximumDiffSize = 262144
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-https://localhost:8000/
	filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
	directory = cache
[github]
	url = https://github.com
	clientId = XXXXXXXXXXXXXXXXXXXX
	clientSecret = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
[receive]
	maxBatchChanges = 1
	maxObjectSizeLimit = 1m
[gc]
	startTime = 06:30
	interval = 1 week
[pack]
	deltacompression = true
