[gerrit]
	autoReload = true

[remote "go"]
	url = git@github.com:Go-zh/go.git
	projects = go
	push = +refs/*:refs/*

[remote "gccgo"]
	url = git@github.com:Go-zh/gccgo.git
	projects = gccgo
	push = +refs/*:refs/*

[remote "blog"]
	url = git@github.com:Go-zh/blog.git
	projects = blog
	push = +refs/*:refs/*

[remote "tools"]
	url = git@github.com:Go-zh/tools.git
	projects = tools
	push = +refs/*:refs/*

[remote "talks"]
	url = git@github.com:Go-zh/talks.git
	projects = talks
	push = +refs/*:refs/*

[remote "website"]
	url = git@github.com:Go-zh/go-zh.github.io.git
	projects = website
	push = +refs/*:refs/*

[remote "review"]
	url = git@github.com:Go-zh/review.git
	projects = review
	push = +refs/*:refs/*
